:root{
    --bg-color:white;
    --primary:rgb(254, 186, 58);
    --secondary: rgb(33, 37, 41);
}
.blur {
    filter: blur(5px);
  }
  .bg-wight{
    background-color: white;
  }
.bg-warning-light{
    background-color: rgb(199, 161, 23);
}
body::before{
    display: block;
    content: '';
    padding: 10px;
}
.text-purple{
    color: purple;
}
.custom{
    background-color: #27a3d8;
}
.shadow{
    box-shadow: 5px 5px 5px black;
}

@keyframes zoomed {
    0%{
        transform: scale(100%);
    }
    100%{
        transform: scale(105%);
    }
}
.zoom:hover{
    animation:zoomed 1s ease forwards;
    }

@media (min-width:768px){
    .email-input{
        width: 50%;
    }
}

.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
@-webkit-keyframes up-down{
    0%{
        transform: translatey(10px);
    }
    100%{
        transform: translatey(-10px);
    }
}
@keyframes up-down {
    0%{
        transform: translatey(10px);
    }
    100%{
        transform: translatey(-10px);
    }
    
}

/* ////////////////////////////////////////////////      Sidebar      //////////////////////////////////////////////////////////// */

.sidebar {
    border-left: 2px solid  var(--primary);
    position: fixed;
    right: -400px;
    top: 0;
    width: 400px;
    height: 100vh;
    background-color: var(--secondary);
    transition: right 0.3s ease-in-out;
    z-index: 9999;
}

.sidebar.open {
    right: 0;
}

.sidebar-content {
    padding: 10px;
}

/* Responsive styles */
@media screen and (max-width: 400px) {
    .sidebar {
        width: 100%;
        height: auto;
    }
}
